

<br>

<input type="button" name="answer" value="Livraison à vélo" id="btn">

<div id="bikeForm" style="display:none;">
    <div class="bikeDeliveryForm">
      <label for="postcode">Enter your postcode : </label>
      <input type="text" name="address" id="address" required>
    </div>
    <div class="bikeDeliverySubmit">
      <a href="">Validate</a>
    </div>
</div>

<div id="invalidArea" style="display:none;">
  <div ><p>Sorry, you cannot be delivered in this area</p></div>
</div>

<div id="deliverySlots" style="display:none;">
  <div ><p>Please choose one of the following delivery slots : </p></div>
</div>
